body {
  height: 97%;
  overflow: hidden;
  overflow-y: hidden;
  font-family:Tohama, Verdana, sans-serif;
  
}

nav {
  margin-top: -8px;

}

nav>ul {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  top: 0;
  left: 0px;
  z-index: 9;
  list-style: none;
  display: flex;
  flex-flow: row, nowrap;
  background-color: #e6e6e6;
  padding: 2px;
  justify-content: space-between;
  align-items: center;
  margin: 0 -7px;
  height: 2.6em;
}

nav>ul>li {
  color: darkred;
  padding: 2px 7px;
  margin-left: 30px;
  margin-right: 10px;
  border: 0px solid #cacaca;
  background-color: #fdeee5;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 8rem;
}

#manu {
  margin-right: auto;
  margin-left: 4px;
  background-color: #e6e6e6;
  padding: 2px 5px;
  border: 0;

}

#imgmanu {
  width: 35;
}

#imgclose {
  width: 20;
  height: 20;
}
.bal>img {
  width: 5.5rem;
  border-radius: 10px;
}
#manuItems>ul {
  transition-property: 'display';

  display: none;
  position: absolute;
  top: -15px;
  left: 0px;
  background-color: #f6f7ff;
  padding: 2px 30px 4px 5px;
  width: 15rem;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  height: 90%;
  z-index: 15;
  transition-duration: 3ms;
}

#manuItems>ul>li {
  list-style: none;
  padding: 5px 5px 2px 5px;
  margin: 20px 1.5rem;
  border: 1px solid #ecf8ec;
  width: 13rem;
  background-color: #e4ffdd;
  border-radius: 3px;
  font-size: 1.3rem;
  border-bottom: 1px solid gray;

}

#pman {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(228, 227, 227);
  align-items: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#pauseResumeli {
  background-color: #e7e7e7;
  border: 1px;
}

#pauseResume {
  background-color: white;
  border-radius: 20px;
  padding: 2px 10px;
  margin-right: auto;
  color: blue;
  border: 1px;
  font-size: 1.1rem;
  width: 15vw;
  max-width: 8rem;
  min-width: 6.5rem;
}

.play {
  width: 7rem;
  height: 2.5rem;
  border-radius: 20px;
  font-size: 1.5rem;
  color: white;
  background-color: blue;
  border: 1px;
  margin-top: 0.5rem;
}

h1 {
  color: red;
}

.bal {
  font-size: 6rem;
  display: inline;
  position: absolute;
  z-index: 3;
  box-sizing:border-box;
  width: min-content;
  
}

.bal:hover {
  cursor: crosshair;
}

#game {
  display: none;
  background-color: beige;
  width: 100vw;
  overflow: hidden;
  background-image: url(images/deskBackground.png);
  background-repeat: repeat;
  background-size: cover;
  margin-left: -8px;
}

a {
  text-decoration: none;
  color: black;
}

#linktohome:hover {
  cursor: pointer;
}
#homepage {
  font-family: Tahoma, sans-serif;
  position: relative;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 1rem;
  padding: .5 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  background-color: #ffffff;
  z-index: 5;
}
#homepage>h1 {
  padding: 1rem;
  margin-top: 2rem;
  background-color: white;
  border-radius: 10px;
}
#note {
  background-color: #f0f0f0;
  padding: .1 0 1rem 0;
  border-radius: 10px;
}
body {
  background-image: url(images/deskBackground.png);
  background-size:cover;
}
#gameOver {
  display: none;
  position: absolute;
  top: 25vh;
  z-index: 10;
  text-align: center;
  margin: auto;
  background-color: #0046dd;
  padding: 2rem 1rem;
  max-width: 50rem;
  min-width: 20rem;
  height:max-content;
  border-radius: 20px;
  color: rgb(24, 23, 48);
  font-family: Georgia, 'Times New Roman', Times, serif;
  
  box-shadow: .5rem .5rem 1rem #313131;
}
#gameOver>button {
  width: 9rem;
  height: 2rem;
  background-color: white;
  color: blue;
}
button {
  transition: background-color 0.3s ease-out 0;
}
button:active {
  background-color: #b3b3b3;
}
#gameOver>h2 {
  margin-top: .4rem;
  color: darkred;
  background-color: #fff3db;
  padding: 5px;
  
  
}
#gameOver>h3 {
  border-bottom: 1px solid darkred;
  padding-bottom: .5rem;
  color: #e4e4e4;
}
#tscore {
  background-color: #b6ffc2;
  width: 10rem;
  margin: auto;
  margin-bottom: 1rem;
  padding: 3px;
  border-radius: 5px;
}
#birddiv {
  display: none;
}
.backbirds {
  position: absolute;
  z-index: 2;
  font-size: 2rem;
  display: inline;
  transform: scale(0);
}
#sun {
  position: absolute;
  top: 65%;
  left: 10%;
  z-index: 0;
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, rgb(255, 217, 0), rgb(255, 165, 0)); /* Yellow to orange */
  border-radius: 50%;
  box-shadow: 0 0 20px 10px rgba(255, 223, 0, 0.6);
}
#dclouds {
  width:max-content;
  height: auto;
  max-height: 65%;
  overflow: hidden;
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 1;
}
#mclouds {
  display: none;
}
footer {
  margin-top: 1rem;
  background-color: snow;
  padding: 3px;
  border-radius: 10px;
}
@media only screen and (max-width : 480px) {
  nav>ul>li {
    color: darkred;
    padding: 2px 7px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 4rem;
  }
  #pauseResume {
    max-width: 2rem;
    margin-left: -2rem;
  }
  .bal {
    font-size: 4.5rem;
  }
  .bal>img {
    width: 4rem;
  }
  #gameOver {
    left: 1rem;
    padding: .5rem 0;
    width: 20rem;
  }
  #gameOver>h2 {
    width: 16rem;
  margin-left: auto;
  margin-right: auto;
  }
  #homepage{
    font-family: Tahoma, sans-serif;
    width: 90%;
    height: 90%;
  } 
  #homepage>h1 {
    padding-top: .8rem;
    font-size: 1.8rem;
    background-color: #faf8f6;
    border-radius: 10px;
    margin-top: .8rem;
  }
  footer {
    margin-top: 0rem;
  }
  #game {
    background-image: url(images/mbackground.png);
  }
  #dclouds {
    display: none;
  }
  #mclouds {
    display: inline;
    width: 100vw;
    height: auto;
    max-height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}